* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
}

.offer_style {
  background-color: #a6dcfe;
}

.container-fluid {
  font-size: 1.5rem;
  font-weight: bold;
}

li a:hover {
  background-color: rgb(73, 218, 92);
}

.nav-item {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
/* Carousel Properties starts ---------------------------------------------------------------------*/

.carousel-item img {
  /* width: 100%; */
  height: 70vh;
  align-items: center;
}
.carousel-caption h5 {
  font-size: 3.5rem;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */
/* Carousel CSS */

.carousel-caption p {
  font-size: 2.5rem;
}

/* Carousel Properties ends ------------------------------------------------------------------------*/

/* Contact Us starts -------------------------------------------------------------------------------*/

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container_contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Contact Us Ends ----------------------------------------------------------------------------*/

/* Acievments Accredation Starts --------------------------------------------------------------*/

.card {
  flex-basis: calc(50% - 30px);
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
  max-width: calc(50% - 30px);
}
/* Acievments Accredation Endss ----------------------------------------------------------------*/

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* Contact Us ends */

/*footer starts-------------------------------------------------------------------------------------*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.footer_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.footer_bottom_ul_amrc li {
  display: inline;
}
.footer_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 25px;
}

.about_img {
  min-width: 100%;
  max-height: 300px;
}

.services img {
  width: 100%;
  height: 100%;
}

.container-footer {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container-footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-footer .content .left-side-footer {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content-footer .left-side-footer::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content-footer .left-side-footer .details {
  margin: 14px;
  text-align: center;
}
.content-footer .left-side-footer .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content-footer .left-side-footer .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content-footer .left-side-footer .details .text-one,
.content-footer .left-side-footer .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.container-footer .content .right-side-footer-footer {
  width: 75%;
  margin-left: 75px;
}
.content-footer .right-side-footer .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side-footer .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side-footer .input-box input,
.right-side-footer .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side-footer .message-box {
  min-height: 110px;
}
.right-side-footer .input-box textarea {
  padding-top: 6px;
}
.right-side-footer .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side-footer .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side-footer {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side-footer {
    width: 100%;
    margin-left: 0;
  }
}

/* footer  ends ----------------------------------------------------------------------------------*/
/* Responsive Media Queries */
/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ...;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...;
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  ...;
}
